$accent: #dc004f;
$btn_border: #ff005c;
$background: #686d76;
$main_color: #373a40;
$title_color: #eeeeee;
$back_shadow: #4f535a;
$card_shadow: #292b30;
$card-background: #d9d9d9;

$title_font_size: 40px;
$main_font_size: 32px;
